@import 'colors';
@import 'mixin';

* {
  font-family: "Philosopher", sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
  outline: 0;
  -moz-outline-style: none;
  -webkit-tap-highlight-color: transparent;
}

body,
html {
  background-color: $html-bg;
  height: 100%;
    overflow: hidden;
}

h1 {
  font-size: 2.5em;
}

.section-quote {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper {
  background-color: $wrapper-bg;
  border: 2px solid $black;
  border-radius: 8px;
  box-sizing: border-box;
  color: $black;
  max-width: 100%;
  padding: 0 25px;
  position: relative;

  undefined:after {
    background-color: $black;
    border-radius: 8px;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform 0.2s ease-out;
    z-index: -1;
  }
}

.keyboard {
  justify-content: center;
  @extend %flex-center;
}

.info-wrapper {
  justify-content: space-between;
  @extend %flex-center;
}

button {
  background-color: $black;
  border-radius: 4px;
  border-style: none;
  color: $white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  margin-bottom: 20px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  undefined:hover,
  undefined:focus {
    opacity: 0.75;
  }
}